@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .img-basic {
        @apply h-auto w-full;
    }
    .img {
        @apply object-cover;
    }
    .img-h {
        @apply h-full w-full;
    }
    .ff-decor {
        font-family: "Alegreya", serif;
    }

    /* .text-underline {
    @apply relative overflow-hidden inline-block align-bottom
    after:block after:w-full after:bg-current after:absolute after:bottom-[.05em] after:h-[1px] after:z-10 after:transition-transform after:scale-x-0 after:origin-right
    hover:after:transform-none hover:after:scale-x-100 hover:after:origin-left;
  } */
    .text-underline {
        @apply underline decoration-transparent transition-[text-decoration-color] hover:decoration-current;
    }

    .text-mask {
        mask-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.3) 0%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0.07) 100%
        );
    }
    input::-ms-reveal,
    input::-ms-clear {
        display: none;
    }

    .wrapper {
        @apply mx-auto w-full max-w-[108rem] px-[3.875rem] lg:mx-auto;
    }
    .container {
        @apply mx-auto w-full max-w-[108rem] px-[3.875rem] lg:mx-auto;
    }

    .flex-start {
        @apply flex items-center justify-start;
    }
    .flex-center {
        @apply flex items-center justify-center;
    }

    .flex-between {
        @apply flex items-center justify-between;
    }

    .h1-bold {
        @apply text-3xl font-bold lg:text-4xl;
    }

    .h2-bold {
        @apply text-2xl font-bold lg:text-3xl;
    }

    .h3-bold {
        @apply text-xl font-bold lg:text-2xl;
    }
    .input-dark {
        --input: var(--white-300);
        --ring: var(--white-500);

        @apply border-white-300 bg-bg-dark-sf1 text-typo-dark-disable hover:!ring-bd-dark-sf2;
    }
}

@layer base {
    :root {
        --white: 0 0% 100%;
        --white-100: 210 8% 19%;
        --white-200: 214 6% 24%;
        --white-300: 214 5% 28%;
        --white-400: 214 4% 32%;
        --white-500: 210 3% 36%;
        --white-600: 204 2% 49%;
        --white-700: 220 2% 66%;
        --white-800: 180 1% 83%;
        --white-900: 0 0% 100%;

        --dark-100: 200 16% 96%;
        --dark-200: 204 10% 90%;
        --dark-300: 202 12% 82%;
        --dark-400: 207 11% 69%;
        --dark-500: 208 11% 53%;
        --dark-600: 208 12% 43%;
        --dark-700: 210 11% 35%;
        --dark-800: 21 9% 27%;
        --dark-900: 210 11% 15%;

        --black: 0 0% 5%;
        --black-darker: 0 0% 4%;

        --brand: 44 88% 61%;
        --brand-darker: 37 65% 52%;
        --brand-darkest: 31 63% 42%;
        --brand-lighter: 50 17% 50%;
        --brand-lightest: 56 100% 90%;

        --error: 347 77% 50%;
        --error-darker: 345 83% 41%;
        --error-darkest: 342 75% 30%;
        --error-lighter: 356 100% 95%;

        --warn: 34 94% 50%;
        --warn-darker: 28 97% 44%;
        --warn-darkest: 19 84% 31%;
        --warn-lighter: 44 98% 77%;

        --success: 152 77% 39%;
        /* --success: 85 85% 35%; */
        --success-darker: 153 91% 30%;
        --success-darkest: 155 90% 24%;
        --success-lighter: 144 68% 80%;

        --info: 204 86% 53%;
        --tw-shadow-color: #0a0d12;
    }
}

@layer base {
    :root {
        --background: var(--white-900);
        --foreground: var(--dark-800);
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: var(--dark-300);
        --input: var(--dark-300);
        --ring: var(--brand);
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.625rem;
    }
    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;
        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;
        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
    * {
        @apply border-border focus-visible:outline-ring;
    }
    body {
        @apply overscroll-none bg-background text-foreground;
    }
    ::-webkit-scrollbar {
        width: 5px;
    }
}
@keyframes lds-spinner {
    0%,
    80%,
    20%,
    100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0.1);
    }
}

.grid {
    column-gap: var(--gap-x);
}

:root {
    font-size: 0.9259259259vw;
    --gap-x: 2.5rem;
}
@media (min-width: 1728px) {
    :root {
        font-size: 16px;
    }
}
html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: hsl(var(--border));
    border-radius: 5px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--border)) transparent;
}

.animate-loading {
    @apply animate-spin-slow;
}
.animate-loading div div {
    transform-origin: bottom;
    animation: lds-spinner 1.4s linear infinite;
}
.animate-loading div:nth-child(1) div {
    animation-delay: 0s;
}
.animate-loading div:nth-child(2) div {
    animation-delay: -0.2s;
}
.animate-loading div:nth-child(3) div {
    animation-delay: -0.4s;
}
.animate-loading div:nth-child(4) div {
    animation-delay: -0.6s;
}
.animate-loading div:nth-child(5) div {
    animation-delay: -0.8s;
}
.animate-loading div:nth-child(6) div {
    animation-delay: -1s;
}
.animate-loading div:nth-child(7) div {
    animation-delay: -1.2s;
}
.animate-loading div:nth-child(8) div {
    animation-delay: -1.4s;
}
